<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.study.spring.mapper.TestMapper">
    <select id="getUserByID" resultType="com.lx.study.spring.bean.pojo.User">
        select * from user1 where id=#{id}
    </select>
    <select id="getAll" resultType="com.lx.study.spring.bean.pojo.User">
        select * from user1
    </select>
    <insert id="addUser" >
        insert into user1(name) value(#{name})
    </insert>

</mapper>